<app-header></app-header>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="customerId">Customer ID:</label>
    <input type="number" disabled="true" class="form-control" name="customerId" [(ngModel)]="customerId" required>
  </div>
  <div class="form-group">
    <label for="requestId">Admin ID:</label>
    <input type="number" class="form-control" name="requestId" [(ngModel)]="adminId" required>
  </div>
  
  <div class="form-group">
    <label for="status">Status:</label>
    <select class="form-control" name="status" [(ngModel)]="status" required>
      <option value="Open">Open</option>
      <option value="In Progress">In Progress</option>
      <option value="Resolved">Resolved</option>
      </select>
  </div>
  <div class="form-group">
    <label for="priority">Priority:</label>
    <select class="form-control" name="priority" [(ngModel)]="priority" required>
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
      </select>
  </div>
  <div class="form-group">
    <label for="message">Message:</label>
    <textarea class="form-control" name="message" rows="3" [(ngModel)]="message" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
