/* CSS */
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  padding: 20px;
}

.update-profile {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.update-profile h2 {
  font-size: 24px;
  color: #21552f;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
  display: block;
}

.form-group input[type="text"],.form-group input[type="email"],.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-group input[type="submit"] {
  background-color: #21552f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #333;
}

.form-group span {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}