
<section class="nav-bar">
  <div class="logo">Go Trip</div>
  <ul class="menu">
    <li *ngFor="let item of Navigation"><a [routerLink]="item.href">{{item.label}}</a></li>
  </ul>
  
  <router-outlet></router-outlet>
</section>
<section class="banner">
  <div class="banner-text-item">
      <div class="banner-heading">
          <h1>Find your Next tour!</h1>
      </div>
      <form class="form">
          <input type="text" list="mylist" placeholder="Where would you like to go?">
          <datalist id="mylist">
              <option>London</option>
              <option>Canada</option>
              <option>Monaco</option>
              <option>France</option>
              <option>Japan</option>
              <option>Switzerland</option>
              <option>Seoul</option>
          </datalist>
          <input type="date" class="date">
          <a href="#" class="book">book</a>
      </form>
  </div>
</section>