<app-user-header></app-user-header>
<table class="table">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Issue Date</th>
      <th>Status</th>
      <!-- <th>Customer ID</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of ticket">
      <td>{{ message.id }}</td>
      <td>{{ message.subject }}</td>
      <td>{{ message.description }}</td>
      <td>{{ message.createdDate }}</td>
      <td>{{ message.status }}</td>
      <!-- <td>{{ message.senderId }}</td> -->
    </tr>
  </tbody>
</table>